************Base***************/

/*CSS Reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Box Sizing Border Box*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root{
  font-size: 62.5%;
}
/*************Layout***************/
body {
  background: url("http://res.cloudinary.com/dyr8j9g6m/image/upload/v1469749593/table_top_background_ewasqt.jpg");
  background-size: cover;
  font-family: 'Alfa Slab One', cursive;
}

.game-bottom {
  background: #222;
  width: 300px;
  height: 300px;
  border-radius: 100%;  
  margin: 76px auto;
  position: relative;
}

@media screen and (min-width: 550px) {
  .game-bottom {
    width: 500px;
    height: 500px;
  }
}

.circle-in-bottom {
  /*display: inline-block;*/
  width: 270px;
  height: 270px;
  border-radius: 100%;
  /*background: pink;*/
  background: #222;
  /*margin: 25px;*/
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -135px 0 0 -135px;
}

@media screen and (min-width: 550px) {
  .circle-in-bottom {
    width: calc(5/3 * 270px);
    height: calc(5/3 * 270px);
    margin-top: calc(-5/3 *135px);
    margin-left: calc(-5/3 *135px);
  }
}

.red-button,
.green-button,
.blue-button,
.yellow-button {
  display: inline-block;
  /*width:  48.88888888888888%;*/
  /*height: 48.88888888888888%;*/
  width: 47%;
  height: 47%;
}

.red-button {
  /*width: 48%;*/
  /*height: 48%;*/
  background: red;
  border-radius: 100% 0 0 0;
  margin-right: 6%;
}

.green-button {
  background: green;
  border-radius: 0 100% 0 0;
}

.blue-button,
.yellow-button {
  margin-top: 6%;
}

.blue-button {
  background: #09f;
  border-radius: 0 0 0 100%;
  margin-right: 6%;
}

.yellow-button {
  background: yellow;
  border-radius: 0 0 100% 0;
}

.menu {
  width: 135px;
  height: 135px;
  border-radius: 135px;
  background: #dcdcdc;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -67.5px 0 0 -67.5px;
}

.menu p {
  font-size: 3em;
  margin: 0 auto;
  position: absolute;
  top: 25%;
  left: 22%;
  margin: -10px 0 0 -10px;
}

@media screen and (min-width: 550px){
  .menu {
    width: 270px;
    height: 270px;
    border-radius: 270px;
    margin: -135px 0 0 -135px;
  }

  .menu p {
    font-size: 6em;
    left: 17%;
  }
}
/*
.top-two-buttons,
.bottom-two-buttons {
  width: 100%;
  height: 50%;
  background: #333;
}
.top-two-buttons {
  background: pink;
  border-radius: 300px 300px 0 0;
}

.bottom-two-buttons {
  background: orange;
  border-radius: 0 0 300px 300px;
}

/*
.top-left-button,
.top-right-button {
  display: inline-block;
  width: 50%;
  height: 100%;
}

.top-left-button {
  background: green;
  border-radius: 100% 0 0 0;
}

.top-right-button {
  background: red;
  border-radius: 0 100% 0 0;
}
*/

/*************Module***************/


/*************State***************/

/*************Theme**************