************Base***************/

/*CSS Reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Box Sizing Border Box*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root{
  font-size: 62.5%;
}
/*************Layout***************/
body {
  background: url("http://res.cloudinary.com/dyr8j9g6m/image/upload/v1469749593/table_top_background_ewasqt.jpg");
  background-size: cover;
  font-family: 'Alfa Slab One', cursive;
}

.game-bottom {
  background: #222;
  width: 300px;
  height: 300px;
  border-radius: 100%;  
  margin: 76px auto;
  position: relative;
}

@media screen and (min-width: 550px) {
  .game-bottom {
    width: 500px;
    height: 500px;
  }
}

.circle-in-bottom {
  /*display: inline-block;*/
  width: 270px;
  height: 270px;
  border-radius: 100%;
  /*background: pink;*/
  background: #222;
  /*margin: 25px;*/
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -135px 0 0 -135px;
}

@media screen and (min-width: 550px) {
  .circle-in-bottom {
    width: calc(5/3 * 270px);
    height: calc(5/3 * 270px);
    margin-top: calc(-5/3 *135px);
    margin-left: calc(-5/3 *135px);
  }
}

.red-button,
.green-button,
.blue-button,
.yellow-button {
  display: inline-block;
  /*width:  48.88888888888888%;*/
  /*height: 48.88888888888888%;*/
  width: 47%;
  height: 47%;
  opacity: 0.75;
}

.red-button {
  /*width: 48%;*/
  /*height: 48%;*/
  background: red;
  border-radius: 100% 0 0 0;
  margin-right: 6%;
}

.green-button {
  background: #00ff00;
  border-radius: 0 100% 0 0;
}

.blue-button,
.yellow-button {
  margin-top: 6%;
}

.blue-button {
  background: #b0e0e6;
  border-radius: 0 0 0 100%;
  margin-right: 6%;
}

.yellow-button {
  background: yellow;
  border-radius: 0 0 100% 0;
}

/**************
Menu
**************/

.menu {
  width: 135px;
  height: 135px;
  border-radius: 135px;
  background: #dcdcdc;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -67.5px 0 0 -67.5px;
  border: 8px solid #222;
}

.menu p {
  font-size: 2.8em;
  margin: 0 auto;
  position: absolute;
  top: 25%;
  left: 20%;
  margin: -10px 0 0 -10px;
}

.strict-light {
  width: 6px;
  height: 6px;
  background: #222;
  border-radius: 6px;
  position: absolute;
  top: 130px;
  left: 165px;
  z-index: 2;
}

.count-start-strict{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 0 0 -100px;
    z-index: 2;
  }
  .count-start-strict-buttons{
  display: block;
  }

  .count-start-strict p {
  display: inline-block;
  text-transform: uppercase;
}

  .count-start-strict p {
  display: inline-block;
  font-size: 7px;
  }

  .count-start-strict p {
  margin-left: 5px;
  }

  .count-start-strict p:first-of-type {
  margin-left: 51px;
  }

  .count-start-strict p:last-of-type {
  margin-left: 5px;
  }

  .count-display {
  width: 32px;
  height: 20px;
  border-radius: 8px;
  background: #222;
  display: inline-block;
  margin-left: 50px;
  }

  .start-button,
  .strict-button {
    width: 14px;
    height: 14px;
    border-radius: 14px;
    border: 2px solid #222;
    display: inline-block;
    margin-left: 12px;
  }
  .start-button {
  background: red;
  }
  .strict-button {
  background: yellow;
  }

  .power-switch {
  display: inline-block;
  position: absolute;
  top: 175px;
  left: 110px;
  z-index: 2;
}

.power-switch p {
  display: inline-block;
  text-transform: uppercase;
  font-size: 7px;
  position: relative;
  top: -3px;
}

.off-on-border {
  width: 20px;
  height: 10px;
  background: #222;
  display: inline-block;
}

.off,
.on {
  width: 10px;
  height: 10px;
  background: #222;
  display: inline-block;
}

.off {
  background: #6495ed;
}


@media screen and (min-width: 550px){

  .strict-light {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    top: 215px;
    left: 293px;
  }

  .count-start-strict{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 0 0 -100px;
    z-index: 2;
  }
  .count-start-strict-buttons{
  display: block;
  }

  .count-start-strict p {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1em;
}

  .count-start-strict p {
  display: inline-block;
  text-transform: uppercase;
  }

  .count-start-strict p {
  margin-left: 35px;
  }

  .count-start-strict p:first-of-type {
  margin-left: 11px;
  }

  .count-start-strict p:last-of-type {
  margin-left: 25px;
  }

  .count-display {
  width: 58px;
  height: 32px;
  border-radius: 8px;
  background: #222;
  display: inline-block;
  margin-left: 0;
  color: white;
  vertical-align: top;
  text-align: center;
  /*vertical-align: middle;*/
  line-height: 32px;
  font-size: 1.6em;
  letter-spacing: 3px;
  }

  .start-button,
  .strict-button {
    width: 28px;
    height: 28px;
    border-radius: 24px;
    border: 4px solid #222;
    display: inline-block;
    margin-left: 33px;
    vertical-align: top;
  }
  .start-button {
  background: red;
  }
  .strict-button {
  background: yellow;
  }
/*continue here*/
  .power-switch {
  display: inline-block;
  top: 295px;
  left: 185px;
  }

  .power-switch p {
    display: inline-block;
    font-size: 1em;
    position: relative;
    top: -7px;
  }

  .off-on-border {
    width: 48px;
    height: 24px;
    background: #222;
    display: inline-block;
  }

  .off,
  .on {
    width: 24px;
    height: 24px;
    background: #222;
    display: inline-block;
  }

  .off {
    background: #6495ed;
  }
}

@media screen and (min-width: 550px){
  .menu {
    width: 270px;
    height: 270px;
    border-radius: 270px;
    margin: -135px 0 0 -135px;
    border: 20px solid #222;
  }

  .menu p {
    font-size: 5.6em;
    left: 17%;
  }
}
.bob {
  color: white;
  font-size: 20px;
}


/*
.top-two-buttons,
.bottom-two-buttons {
  width: 100%;
  height: 50%;
  background: #333;
}
.top-two-buttons {
  background: pink;
  border-radius: 300px 300px 0 0;
}

.bottom-two-buttons {
  background: orange;
  border-radius: 0 0 300px 300px;
}

/*
.top-left-button,
.top-right-button {
  display: inline-block;
  width: 50%;
  height: 100%;
}

.top-left-button {
  background: green;
  border-radius: 100% 0 0 0;
}

.top-right-button {
  background: red;
  border-radius: 0 100% 0 0;
}
*/

/*************Module***************/


/*************State***************/

/*************Theme**************